body {
	margin: 120px 0 0 0;
	position: relative;
	/*font-family: Arial, sans-serif;*/
	font-family: Lato, sans-serif!important;
	
}
/* MENU SECTION */
.menu-section {
	margin: 0;
	background-color: #fff;
	height: 120px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute; /* Ustawiamy na stałe fixed */
	top: -120px; /* Zaczyna się poza ekranem */
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	z-index: 9999;
	transition: top 0.5s ease; /* Płynna animacja dla właściwości top */
}

.menu-section.show {
	position: fixed;
	top: 0; /* Przesuwa się na górę ekranu */
}


.menu-content {
	height: 100%;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.menu-content div {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.fa-facebook {
	background: #3b5998;
}

.fa-instagram {
	background: #f40083;
}

.fa-youtube {
	background: #bb0000;
}

.social-icons {
	color: white;
	text-align: center;
	width: 15px;
	border-radius: 100%;
	padding: 5px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	transition: all 0.2s ease-in-out;
}

.social-icons:hover {
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
	transform: scale(1.2);
}

.search-bar {
	width: 300px;
	height: 20px;
	border-radius: 20px;
	border-color: #66b8d9;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	transition: all 0.2s ease-in-out;
	margin-right: 15px;
}

.search-bar:hover {
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.search-bar-span {
	transition: all 0.2s ease-in-out;
	position: relative;
}

.search-bar-span:hover,
.search-bar-span:focus-within {
	transform: scale(1.2);
}

.search-bar-span-mobile {
	display: none;
}

.search-icon {
	transform: scale(1.3);
	position: absolute;
	right: 25px;
	top: 17%;
	border-left: 1px solid #66b8d9;
	padding-left: 4px;
}

.menu-list {
	padding-left: 0;
	height: 50px;
	margin: 0;
	list-style: none;
	display: flex;
	align-items: center;
	background-color: #fff;
}

.menu-list li {
	transition: all 0.2s ease-in-out;
}

.menu-list li:hover {
	transform: scale(1.1);
}

.menu-list li a {
    text-decoration: none;
    color: #4A5559;
    font-weight: bold;
    padding: 15px 10px;
    margin: 0 10px;
    background: #66B8D9;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0,0,0,.20);
    transition: all .2s ease-in-out;
}

.menu-list li a:hover {
	transform: scale(1, 2);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.menu-logo-space {
    height: 100%;
    width: 600px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.menu-logo {
	width: 150px;
	height: 150px;
}

.log-reg-btns {
	height: 95%;
	padding: 0 10px 0 0;
}

.log-reg-btns ul {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.log-reg-btns ul li a {
	margin: 0;
}

.menu-content-mobile {
	display: none;
}


/* SITE CONTENT */

.headerslide {
	width: 100%;
	height: 566px;
	overflow: hidden;
	position: relative;
	top: 0;
	/*margin-top: -10px;*/
}

.slide {
	position: absolute;
	height: 566px;
	overflow: hidden;
}

.slide img {
	overflow: hidden;
}

.dots {
	position: relative;
	display: inline-block;
	bottom: 20px;
	left: 50%;
	z-index: 20;
}

.dot {
	height: 10px;
	width: 10px;
	margin: 0 2px;
	background-color: #6E8D99;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	position: relative;
}

.active {
	background-color: #66B8D9;
}

.headoverlay {
	width: 100%;
	height: 100%;
	margin: 0px;
	position: relative;
	text-transform: uppercase;
	top: 0px;
	background: rgba(0, 0, 0, 0.4);
	z-index: 1;
}

.about-section {
	background-color: #fff;
	/*padding: 2rem;*/
	text-align: left;
	width: 1260px;
	/*margin-top: 2rem;*/
	margin: 50px auto;
}

.about-section h2 {
	font-size: 28px;
	font-weight: 900;
	color: #4A5559;
	text-decoration: none;
	padding: 10px 0;
	text-transform: capitalize;
}

.about-section p {
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	color: #4A5559;
	padding: 40px 0 20px 0;
}

.calendar-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 200px;
	width: 100%;
	padding: 2rem 0;
}

.upcoming-events-box {
	background-color: #6E8D99;
	width: 100%;
	padding: 20px 0;
	margin-bottom: 150px;
}

.upcoming-events-section {
	/*padding: 2rem;*/
	text-align: left;
	height: auto;
	width: 1260px;
	/*margin-top: 2rem;*/
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
}

.upcoming-events-section h2 {
	font-size: 28px;
	font-weight: 900;
	color: #4A5559;
	text-decoration: none;
	padding: 10px 0;
	text-transform: capitalize;
}

.upcoming-events-section row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	position: relative;
}

.upcoming-events-section .row a {
	position: relative;
	display: inline-block;
	background: #D9A266;
	width: 550px;
	height: 260px;
	margin: 20px 30px;
	border-radius: 20px;
	border-top: 5px;
	border-right: 5px;
	border-bottom: 5px;
	border-style: solid;
	border-color: #FFF;
	box-sizing: border-box;
}

.upcoming-events-section .row a h3 {
	display: inline-block;
	position: absolute;
	top: 40px;
	right: 29px;
	color: #4A5559;
	font-weight: 800;
	font-size: 22px;
	width: 230px;
	height: auto;
	text-align: center;
}

.upcoming-events-section .row a img {
	border-top: 5px;
	border-left: 5px;
	border-bottom: 5px;
	border-style: solid;
	border-color: #4A5559;
	border-radius: 20px 0 0 20px;
	position: absolute;
	top: -5px;
	left: 0;
	box-sizing: content-box;
}

.upcoming-events-section .row a p {
	display: inline-block;
	position: absolute;
	bottom: 60px;
	right: 85px;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
	color: #4A5559;
	width: 108px;
}



/* REGISTER SITE */

.section-register-form, .login-form-box {
    width: 50%;
    margin: auto;
	margin-bottom: 100px;
}

.section-register-form h1 {
    text-transform: uppercase;
    color: #4A5559;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    margin: auto;
    padding: 50px 0 40px 0;
}

.register-form, .login-form {
    border-radius: 20px;
    background: #6E8D99;
    margin: auto;
    padding: 20px 0;
}

form.register-form div, form.login-form div {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    margin: auto;
}

form.register-form div label, form.register-form div input, form.login-form div label, form.login-form div input {
    padding: 10px 0;
    color: #4A5559;
}

form.register-form div label, form.login-form div label {
    font-weight: 600;
    font-size: 20px;
    text-shadow: 1px 1px rgba(0,0,0,.20);
}

form.register-form div input, form.login-form div input {
    border-radius: 20px;
    font-size: 15px;
    padding-left: 10px;
}

form.register-form .register-btn, form.login-form .login-form-btn {
    width: fit-content;
    font-weight: 600;
    font-size: 22px;
    color: #4A5559;
    background: #66B8D9;
    border: none;
    box-shadow: 3px 3px 3px rgba(0,0,0,.20);
    transition: all 0.2s;
    padding: 12px 30px;
    margin: auto;
}

form.register-form .register-btn:hover, form.login-form .login-form-btn:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 5px rgba(0,0,0,.20);
    transition: all 0.2s;
}

#jsValidUser, #jsValidEmail, #jsValidPass, #jsValidConPass, #jsValidUserLogin, #jsValidPassLogin {
    color: #D9A266;
    font-size: 16px;
    font-weight: 600;
    text-shadow: 1px 1px rgba(0,0,0,.20);
    padding: 10px 15px;
}

/* REGISTER FORM ANSWER PAGE */

.register-form-answer {
    color: #D9A266;
    font-size: 16px;
    font-weight: 600;
    text-shadow: 1px 1px rgba(0,0,0,.20);
    padding: 20px 15px;
    min-height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-form-answer ul li p {
    margin: 30px 20px;
}

.regInfo {
    display: flex;
    justify-content: center;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
}

/* RESET PASSWORD PAGE */

.forgot-password-section {
	padding: 120px 0 150px 0;
}

.forgot-password-section #forgotPasswordForm .login-form-box h1 {
	text-transform: uppercase;
	width: 500px;
	position: relative;
	left: calc(50% - (500px / 2));
	color: #4A5559;
	font-weight: 900;
	font-size: 40px;
	text-align: center;
	margin: 0 auto 80px auto;
	/*padding: 50px 0 40px 0;*/
}

.forgot-password-section #forgotPasswordForm .login-form-box .login-form {
	width: 500px;
	position: relative;
	left: calc(50% - (500px / 2));
	margin: auto;
}

.forgot-password-section #forgotPasswordForm .login-form-box .login-form .login-form-btn {
	cursor: pointer;
}

/* USER-PAGE */

.user-page-section {
	width: 100%;
	position: relative;
}

.user-page-section .user-page-h1 {
	width: 1260px;
	padding: 50px 0;
	margin: auto;
}

.user-page-section .user-page-h1 h1 {
	text-transform: uppercase;
	color: #4A5559;
	font-weight: 900;
	font-size: 40px;
}

.user-page-container {
	width: 1260px;
	margin: 50px auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.user-page-container .column {
	background: #6E8D99;
	padding: 20px;
	border-radius: 20px;
}

#rezerwacje-lista li {
	background: #66b8d9;
	border-radius: 20px;
	padding: 20px 10px;
}

#rezerwacje-niepotwierdzone-lista li {
	background: #D9A266;
	border-radius: 20px;
	padding: 20px 10px;
}

.user-avatar h4 {
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: 600;
	color: #4A5559;
}

.user-information-table tr td input {
	border-radius: 20px;
	border-color: #66b8d9;
}

.user-information-table tr td textarea {
	height: 200px;
	border-radius: 20px;
	border-color: #66b8d9;
}

/*.user-page-container .column a.btn, .user-page-container .column .user-avatar a,  {*/
/*	text-decoration: none;*/
/*	color: #4A5559;*/
/*	font-weight: bold;*/
/*	padding: 15px 10px;*/
/*	margin: 0 10px;*/
/*	background: #66B8D9;*/
/*	border-radius: 10px;*/
/*	box-shadow: 3px 3px 3px rgba(0, 0, 0, .20);*/
/*	transition: all .2s ease-in-out;*/
/*}*/

table.user-information-table {
	width: 100%;
	max-width: 600px;
	margin: auto;
	border-collapse: collapse;
}

table.user-information-table td {
	padding: 10px;
	vertical-align: center;
}
table.user-information-table label {
	display: block;
	margin-bottom: 5px;
}
table.user-information-table input, table.user-information-table textarea {
	width: 100%;
	padding: 8px;
	box-sizing: border-box;
}
table.user-information-table .form-actions {
	text-align: center;
}

/* LOGIN FORM DIFFERENCES */
.login-form-container-show {
	height: 100vh;
	width: 100vw;
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, .5);
}

.login-background {
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
}

.login-form-box {
	width: 400px;
	z-index: 10;
}

.login-form {

}

.login-form-remember {
	display: flex;
	flex-direction: row!important;
	justify-content: flex-start;
	align-items: center;
	padding: 0!important;
	margin-top: -20px!important;
}

.login-form-remember label {
	margin-left: 10px;
}

.login-form-forgot-register {
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	text-decoration: none;
	color: #4A5559;
}

.login-hidden {
	position: absolute;
	top: -400px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}


.body-scroll-hide {
	overflow: hidden;
}

.siteContent {
	min-height: 800px;
	width: 100%;
	background: #fff;
}

/* ADMIN PAGE */

.admin-section {
	width: 100%;
	position: relative;
}

.admin-section .admin-page-h1 h1 {
	text-transform: uppercase;
	color: #4A5559;
	font-weight: 600;
	font-size: 40px;
	width: 1260px;
	padding: 50px 0;
	margin: auto;
}

.admin-section .container {
	width: 1260px;
	margin: 10px auto 100px auto;
	height: auto;
}

.admin-section .container .column {
	background: #6E8D99;
	padding: 20px;
	border-radius: 20px;

}

.admin-section .container .column h2 {
	color:#D9A266;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 20px;
}

.admin-section .container .column #rezerwacje-lista {
	background: #66b8d9;
	border-radius: 20px;
	padding: 20px 10px;
	margin: 10px auto;
}

.admin-section .container .column form input {
	border-color: #66b8d9;
	border-radius: 20px;
}

.admin-section .container .column form textarea {
	border-color: #66b8d9;
	border-radius: 20px;
}

.admin-section .container .column form input#admin-send {
	text-decoration: none;
	color: #4A5559;
	font-weight: bold;
	padding: 15px 10px;
	margin: 0 10px;
	background: #66B8D9;
	border-radius: 10px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .20);
	transition: all .2s ease-in-out;
	border: none;
	cursor: pointer;
}

/* LISTA WYDARZEŃ */

.event-page-section {
	width: 100%;
	background: #6E8D99;
	padding: 50px 0 120px 0;
}

.event-page-section div h1 {
	width: 1260px;
	margin: auto;
	font-size: 28px;
	font-weight: 900;
	color: #4A5559;
	text-decoration: none;
	padding: 20px 0;
	text-transform: capitalize;
	text-align: left;
}

#event-list {
	width: 1260px;
	margin: auto;
}

#event-list .row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	position: relative;
}

#event-list .row a {
	position: relative;
	display: inline-block;
	background: #D9A266;
	width: 550px;
	height: 260px;
	margin: 20px 30px;
	border-radius: 20px;
	border-top: 5px;
	border-right: 5px;
	border-bottom: 5px;
	border-style: solid;
	border-color: #FFF;
	box-sizing: border-box;
}

#event-list .row a h2 {
	display: inline-block;
	position: absolute;
	top: 40px;
	right: 29px;
	color: #4A5559;
	font-weight: 800;
	font-size: 22px;
	width: 230px;
	height: auto;
	text-align: center;
}

#event-list .row a img {
	border-top: 5px;
	border-left: 5px;
	border-bottom: 5px;
	border-style: solid;
	border-color: #4A5559;
	border-radius: 20px 0 0 20px;
	position: absolute;
	top: -5px;
	left: 0;
	box-sizing: content-box;
}

#event-list .row a p {
	display: inline-block;
	position: absolute;
	bottom: 60px;
	right: 85px;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
	color: #4A5559;
	width: 108px;
}

.event-page-section .event {
	display: inline-block;
	width: 22%;
	margin: 1%;
	vertical-align: top;
	text-align: center;
}

.event-page-section .event-image {
	width: 100%;
	height: auto;
}

.event-page-section h1 {
	text-align: center;
	color: #4A5559;
}

.event-page-section a {
	color: #4A5559;
}

.event-page-section p {
	color: #4A5559;
}

/* PODSTRONA WYDARZENIA */

section.podstrona_wydarzenia-section {
	width: 100%;
	padding: 100px 0;
}

section.podstrona_wydarzenia-section .wydarzenia-h1 {
	width: 1260px;
	margin: auto;
	padding: 0 0 50px 0;
}

section.podstrona_wydarzenia-section h1 {
	font-size: 28px;
	font-weight: 800;
	color: #4A5559;
	text-decoration: none;
	padding: 10px 0;
	text-transform: capitalize;
}

section.podstrona_wydarzenia-section .container {
	width: 1260px;
	margin: auto;
}

.podstrona_wydarzenia-section #image {
	height: 300px;
	width: 300px;
	border: 5px solid #6E8D99;
	border-radius: 20px;
}

.podstrona_wydarzenia-section p {
	color:#4A5559;
	font-size: 20px;
	font-weight: 500;
	line-height: 25px;
	text-align: justify;
}

.podstrona_wydarzenia-section .container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.podstrona_wydarzenia-section .column {
	flex: 1;
	margin-bottom: 15px;
}

.podstrona_wydarzenia-section .container .column p #description {
	display: block;
	background: #D9A266;
	padding: 30px;
	border-radius: 20px;
	position: relative;
	width: 800px;
}

.podstrona_wydarzenia-section #dynamicLink {
	text-decoration: none;
	color: #4A5559;
	font-weight: bold;
	padding: 15px 10px;
	margin: 0 10px;
	background: #66B8D9;
	border-radius: 10px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .20);
	transition: all .2s ease-in-out;
	border: none;
	cursor: pointer;
}

/* STRONA REZERWACJI STOISKA */

.rezerwacja-stoiska-section {
	width: 100%;
	padding: 50px 0 150px 0;
}

.rezerwacja-stoiska-h1 {
	width: 1260px;
	margin: auto;
	font-size: 28px;
	font-weight: 900;
	color: #4A5559;
	text-decoration: none;
	padding: 40px 0;
	text-transform: capitalize;
	text-align: left;
}

.rezerwacja-stoiska-section .container {
	width: 1260px;
	margin: auto;
}

.rezerwacja-stoiska-section .container .column {
	background: #6E8D99;
	padding: 20px;
	border-radius: 20px;
	color: #4A5559;
}

.rezerwacja-stoiska-section .container .column img {
	border-radius: 20px;
	margin: 20px auto;
}

.rezerwacja-stoiska-section .container .column input.rezerwacja-submit {
	text-decoration: none;
	color: #4A5559;
	font-weight: bold;
	padding: 15px 10px;
	margin: 0 10px;
	background: #66B8D9;
	border-radius: 10px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .20);
	transition: all .2s ease-in-out;
	border: none;
	cursor: pointer;
}

/* KALENDARZ */

#calendar-container {
	width: 100%;
	padding: 50px 0 150px 0;
}


/* CONTACT */

.contact-container {
	width: 500px;
	padding: 30px;
	border-radius: 20px;
	background: #6E8D99;
	font-weight: 600px;
	color: #4A5559;
	margin: 50px auto 150px auto;
}

/* FOOTER */

.footer {
	min-height: 600px;
	background: #3b5998;
	width: 100%;
	position: relative;
}

#background {
	background-image: url('../src/footbackg1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: bottom;
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 360px;
	margin-top: 0;
}

.footer-backcolor {
	width: 100%;
	height: 100%;
	background-color: #3b5998;
	opacity: 0.95;
}

#tekst {
	font-weight: bold;
	text-decoration: underline;
}

.footer-columns {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


.column {
	flex-basis: 30%;
	margin: 20px;
}

.column h4 {
	margin-top: 0;
	margin-left: 50px;
	margin-right: 50px;
}

.column ul {
	list-style: none;
	padding: 10px;
	margin-right: 80px;
	margin-left: 80px;
}

.column li {
	margin-bottom: 10px;
}

.column a {
	text-decoration: none;
	color: black;
}

.column a:hover {
	color: #fff;
}
/* MEDIA RWD */

@media only screen and (max-width: 1410px) {
	.menu-section {
	}

	.menu-logo-space {
		width: fit-content;
	}
}

@media only screen and (max-width: 960px) {
	.menu-content {
		position: absolute;
		top: -300px;
	}

	.menu-login-form {
		display: none;
	}

	.log-reg-btns {
		display: none;
	}

	.menu-content-mobile {
		display: flex;
		align-items: center;
	}

	.search-bar-span-mobile {
		display: inline;
	}

	.burger-container {
		display: inline-block;
		cursor: pointer;
		padding: 0 10px;
	}

	.burger-bars {
		width: 60px;
		height: 5px;
		background-color: #333;
		margin: 6px 0;
		transition: 0.4s;
	}

	.change .bar1 {
		transform: translate(0, 11px) rotate(-45deg);
	}

	.change .bar2 {
		opacity: 0;
	}

	.change .bar3 {
		transform: translate(0, -11px) rotate(45deg);
	}

	.menu-list-mobile-hidden {
		height: calc(100vh - 120px);
		width: 10px;
		position: absolute;
		top: 120px;
		right: -300px;
		transition: all 0.7s;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.menu-list-mobile-active {
		position: fixed;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		width: 100vw;
		top: 120px;
		right: 0;
		bottom: 0;
		background-color: #fff;
		box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.2);
		overflow-y: scroll;
		overflow-x: hidden;
		transition: all 0.7s;
		z-index: 999;
	}

	.menu-list-mobile-active ul,
	.menu-list-mobile-hidden ul {
		width: 100%;
		display: flex;
		flex-direction: column;
		transition: all 0.7s;
	}

	.menu-list-mobile-active ul li,
	.menu-list-mobile-hidden ul li {
		padding-top: 6vh;
		width: 100%;
		display: flex;
		justify-content: space-around;
		transition: all 0.5s;
	}

	.menu-list-mobile-active ul li:hover {
		transform: scale(1.3);
		transition: all 0.5s;
	}

	.menu-list-mobile-active ul li a,
	.menu-list-mobile-hidden ul li a {
		text-decoration: none;
		text-align: center;
		color: #4a5559;
		font-weight: 900;
		font-size: 40px;
	}

	.body-scroll-hide {
		overflow: hidden;
	}

}

@media screen and (max-width: 768px) {
	.event {
		width: 100%;
		margin: 0;
	}

	.podstrona_wydarzenia-section .container {
		flex-direction: column;
		align-items: center;
	}
	.podstrona_wydarzenia-section h1 {
		text-align: center;
	}

	.podstrona_wydarzenia-section #duration {
		text-align: center;
	}

	.podstrona_wydarzenia-section #date {
		text-align: center;
	}
}


@media only screen and (max-width: 570px) {
	.search-bar-span-mobile {
		width: 150px;
	}

	.search-bar-span-mobile input {
		width: 150px;
	}

	.menu-logo-space {
		width: 120px;
	}

	.search-icon {
		right: 2px;
	}

	.mobile-login-form {
		width: 100%;
		height: 60vh;
		padding: 100px 0;
	}

	.log-reg-btns {
		display: none;
	}

}

@media only screen and (max-height: 660px) {
	.menu-list-mobile-active ul li a {
		font-size: 30px;
	}
}
