body, html {
    font-family: Arial, sans-serif;
    color: #4A5559;
}

h2 {
    font-size: 30px;
    color: #4A5559;
}

h3 {
    font-size: 18px;
    color: #4A5559;
}

a {
    font-size: 18 px;
    color: #4A5559;
}

.upcoming-events-section {
    display: flex;
    flex-direction: column; /* Umożliwia umieszczenie h2 nad wydarzeniami */
    align-items: center; /* Wyśrodkowuje h2 poziomo */
    gap: 16px; /* Odstęp między elementami */
}

.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center; /* Wyśrodkowuje wiersze */
}

.event {
    flex: 1;
    max-width: calc(25% - 16px); /* Dostosuj szerokość i uwzględnij odstęp */
    box-sizing: border-box;
    text-align: center; /* Wycentrowanie tekstu */
    padding: 16px; /* Opcjonalnie: wewnętrzne odstępy */
}

.event-image {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .event {
        max-width: calc(50% - 16px); /* Dla mniejszych ekranów, dwa wydarzenia w rzędzie */
    }
}

@media (max-width: 480px) {
    .event {
        max-width: 100%; /* Dla najmniejszych ekranów, jedno wydarzenie w rzędzie */
    }
}